<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metadata %}{% endblock %}
    <title>Arjun Balakrishnan</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VHRD5T5LV7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VHRD5T5LV7');
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer>
        <strong>© 2024 Arjun Balakrishnan</strong>
        <div>
            <a target="_blank" href="https://www.github.com/balkarjun">GitHub</a>
            <i>·</i>
            <a target="_blank" href="https://www.linkedin.com/in/balkarjun">LinkedIn</a>
            <i>·</i>
            balkarjun<i>[at]</i>gmail<i>[dot]</i>com
        </div>
    </footer>
</body>
</html>