<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>balkarjun</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>    
    {% block content %}
    {% endblock %}

    <footer>
        <strong>© 2024 Arjun Balakrishnan</strong>
        <div>
            <a target="_blank" href="https://www.github.com/balkarjun">GitHub</a>
            <span style="padding: 0 0.2em; color: #aaaaaa">•</span>
            <a target="_blank" href="https://www.linkedin.com/in/balkarjun">LinkedIn</a>
            <span style="padding: 0 0.2em; color: #aaaaaa">•</span>
            balkarjun<span style="color: #888888">[at]</span>gmail<span style="color: #888888">[dot]</span>com
        </div>
    </footer>
</body>
</html>