{% extends "base.html" %}
<!-- List of blogs -->

{% block content %}
<header>
    <span>Arjun Balakrishnan</span>
    <nav>
        <a href="/">Home</a>
        <a href="/blog" class="nav-active">Blog</a>
        <a href="/projects">Projects</a>
    </nav>
</header>

<section id="blog">
    {% for year, pages in section.pages | group_by(attribute="year") %}
    <h3>{{ year }}</h3>
    <ul>
        {% for page in pages %}
        <li>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            <span>{{ page.date | date(format = "%b") }}</span>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</section>
{% endblock content %}
