{% extends "base.html" %}
<!-- List of projects -->
{% block metadata %}
<meta name="description" content="A collection of my programming and data science projects.">
{% endblock metadata %}

{% block content %}
<header>
    <span>Arjun Balakrishnan</span>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/projects" class="nav-active">Projects</a>
    </nav>
</header>

<section id="projects">
{% for project in section.pages %}
    <div class="project" id="{{ project.title | slugify }}">
        <div>
            <h3>{{ project.title }}</h3>
            <span class="project-date">{{ project.date | date(format="%Y") }}</span>
        </div>

        {% if project.extra.links %}
        <div class="links">
            {% for link in project.extra.links %}
            <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% endfor %}
        </div>
        {% endif %}

        {{ project.content | safe }}
    </div>
{% endfor %}
</section>
{% endblock content %}
